aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
cffi
charset-normalizer
dataclasses-json
distro
filelock
frozenlist
fsspec
h11
httpcore
httpx
idna
Jinja
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
langsmith
llvmlite
MarkupSafe
marshmallow
more-itertools
mpmath
multidict
mypy-extensions
networkx
numba
numpy
openai
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
orjson
packaging
pandas
playsound
pycparser
pydantic
pydantic_core
pynput
pyobjc-core
pyobjc-framework-ApplicationServices
pyobjc-framework-Cocoa
pyobjc-framework-CoreText
pyobjc-framework-Quartz
python-dateutilost
python-dotenv
pytz
PyYAML
regex
requests
setuptools
six
sniffio
sounddevice
soundfile
SQLAlchemy
sympy
tabulate
tenacity
tiktoken
torch
tqdm
typing-inspect
typing_extensions
tzdata
urllib
wheel
yarl
# git+https://githubom/openai/whisperit
